* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.App {
    background-color: #282c34;
    font-size: 2vmin;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    // margin: 20px auto;
    max-width: 1440px;
}

.hightlight {
    background-color: #ffa601;
    color: #383838;
    font-size: 1.5em;
    font-weight: 700;
}

a {
    color: #ffa601;
    text-decoration: none;
    border: 1px solid #ffa601;
    padding: 10px;
}

button {
    width: -moz-fit-content;
    width: fit-content;
}

pre > code {
    font-size: 2.2vw !important;
}
